/mglaman.atom/
/account/
/python/
/packages/
/locales/
/docker/
/terraform/
/vagrant/
/nfs/
/vagrant-tools/
/sshd/
/packer/
/samba/
/postfix/
/oh-my-zsh/
/network/
/gitlab-runner/
/gitlab/
/dnsmasq/
/aws/
/disk/
/atom/
/rabbitmq/
/mongodb/
