# {{ ansible_managed }}
127.0.0.1	localhost
127.0.1.1	{{ network_hostname|default(ansible_hostname) }}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

{% for host in network_hosts|default([]) %}
{{ host.ip|default('127.0.0.1') }}	{{ host.names|default([])|join(' ') }}
{% endfor %}
