# {{ ansible_managed }}
# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

{% for name, item in network_interfaces|dictsort %}
{%   if item.comment is defined and item.comment %}
# {{ item.comment }}
{%   endif%}
auto {{ name }}
{%   for allowed in item.allow|default([]) %}
allow-{{ allowed }} {{ name }}
{%   endfor %}
iface {{ name }} inet {{ item.type|default('dhcp') }}
{%   for key,value in (item.options|default({})).iteritems() %}
      {{ key }} {{ value|join(', ') if value is mapping else value }}
{%   endfor %}
{%   for key,value in (item.general_options|default({})).iteritems() %}
      {{ key }} {{ value|join(', ') if value is mapping else value }}
{%   endfor %}

{% endfor %}
