#!/bin/sh
# {{ ansible_managed }}
{% for key,value in skel_default_bash_aliases.iteritems() %}
alias {{ key }}='{{ value }}'
{% endfor %}
{% for key,value in skel_bash_aliases.iteritems() %}
alias {{ key }}='{{ value }}'
{% endfor %}
{% if item.0.bash_aliases is defined  %}
{%   for key,value in item.0.bash_aliases.iteritems() %}
alias {{ key }}='{{ value }}'
{%   endfor %}
{% endif %}
