# {{ ansible_managed }}
{% for section,configs in skel_gitconfig.iteritems() %}
[{{ section }}]
{%     for key,value in configs.iteritems() %}
     {{ key }} = {{ value }}
{%     endfor %}
{% endfor %}
